<script>
  function makeBatchAction(act)
  {
    temp = []
    $('input:checked').each(function() {
       temp.push(this.value);
    });
    if(temp.length == 0){alert(<%= raw I18n.t('crud.confirm',default: "Please select atleast one topic", entity: I18n.t('top_menu.topic') ).to_json %>); return false;}        
    window.location.href = "/topics/batch_actions?batch_action="+act+"&top_ids="+temp ;        
    temp = [];
  }
  $(function() {
    $( document ).tooltip();
  });
</script>

<div class="inner-page">
  <div class="inner-head">
    <%= link_to new_topic_path, :class => 'btn btn-primary' do %>
      <span class='glyphicon glyphicon-plus-sign'></span> <%= I18n.t("topics.add_topic") %>
    <% end %>
    <%= link_to "#{I18n.t('topics.moderation',:default=>'Under moderation')} (#{@under_moderation})" ,moderation_path, :class => "btn btn-warning", :id => "btn-moderation" if can? :verify, Topic %>
    <div class="head-right">
      <%= form_for @topic_report, :url=>topics_path, :html => {:method => :get, :class=>'form-inline'} do |f| -%>
         <% @topic_report.filters.each do |filter| -%>            
            <%= f.datagrid_filter filter, :placeholder=> I18n.t("topics.#{filter.name}") , :class=>'form-control'%>
          <%end -%>
          <%= f.submit I18n.t('searchs.search'), :class=>'btn btn-primary' %>
        <% end %>      
    </div>
    <br />
    <div class="" style="margin-top: 5px;" >
      <% if can? :verify, Topic %>
      <%= button_tag I18n.t('crud.publish',default: "Publish"), :onclick=>"return makeBatchAction('publish')", :class => "btn btn-success" %>
      <%= button_tag I18n.t('crud.unpublish',default: "Unpublish"), :onclick=>"return makeBatchAction('unpublish')", :class => "btn btn-success" %>
      <% end %>
      <% if can? :destroy, Topic %>
      <%= button_tag I18n.t('crud.delete',default: "Delete"), :onclick=>"return makeBatchAction('delet')", :class => "btn btn-danger" %>
      <% end %>
    </div>

  </div>
  <div class="listing-part">
    <% topics = @topic_report.assets.paginate(:page => params[:page], :per_page => 20) %>    
    <%= datagrid_table(@topic_report, topics, { :class_name=>"topics" }) %>
  </div>
  <div class="paging">
    <div class="pagination">
      <a href="/topics?page=<%=(@topic_report.last_page)%>"><%= I18n.t("pagination.last")%></a>
    </div>
    <%= will_paginate(topics) %>
    <div class="pagination">
      <a href="/topics?page=1"><%= I18n.t("pagination.first")%></a>
    </div>
  </div>
</div>
     
